<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cw.farmer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activity.MajorActivity"
            android:label="@string/title_activity_major"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyDashboardActivity"
            android:label="@string/title_activity_my_dashboard"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.SearchSprayActivity"
            android:label="@string/title_activity_search_spray"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.SprayConfirmationActivity"
            android:label="@string/title_activity_spray_confirmation"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.HomeActivity" />
        </activity>

        <meta-data
            android:name="DATABASE"
            android:value="farmer.db" />
        <meta-data
            android:name="VERSION"
            android:value="11" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.cw.farmer" />

        <activity
            android:name=".activity.UpdateDocsActivity"
            android:label="@string/title_activity_update_docs"
            android:parentActivityName=".activity.FarmerDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.FarmerDetailsActivity" />
        </activity>
        <activity
            android:name=".activity.UpdateBankActivity"
            android:label="@string/title_activity_update_bank"
            android:parentActivityName=".activity.FarmerDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.FarmerDetailsActivity" />
        </activity>
        <activity
            android:name=".activity.ChangeCentreActivity"
            android:label="@string/title_activity_change_centre"
            android:parentActivityName=".activity.FarmerDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.FarmerDetailsActivity" />
        </activity>
        <activity
            android:name=".activity.RequisitionActivity"
            android:label="@string/title_activity_requisition"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.SearchPlantingVerficationActivity"
            android:label="@string/title_activity_search_planting_verfication"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.PlantingVerificationActivity"
            android:label="@string/title_activity_planting_verification"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.EditFarmerActivity"
            android:label="@string/title_activity_edit_farmer"
            android:parentActivityName=".activity.ListFarmerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.ListFarmerActivity" />
        </activity>
        <activity
            android:name=".activity.SearchHarvestFarmerActivity"
            android:label="@string/title_activity_search_harvest_farmer"
            android:parentActivityName=".activity.HarvestingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.HarvestingActivity" />
        </activity>
        <activity
            android:name=".activity.HarvestingActivity"
            android:label="@string/title_activity_harvesting"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.FarmerAccountsActivity"
            android:label="@string/title_activity_farmer_accounts"
            android:parentActivityName=".activity.ListFarmerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FarmerDocumentsActivity"
            android:label="@string/title_activity_farmer_documents"
            android:parentActivityName=".activity.ListFarmerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SearchDestructionFarmerActivity"
            android:label="@string/title_activity_search_destruction_farmer"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.CropDestructionActivity"
            android:label="@string/title_activity_crop_destruction"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.HomeActivity" />
        </activity>
        <activity android:name=".activity.SearchContractFarmerActivity" />
        <activity
            android:name=".activity.ContractSignActivity"
            android:label="@string/title_activity_contract_sign"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.SearchFarmerActivity"
            android:label="@string/title_activity_search_farmer"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.FarmerRecruitActivity"
            android:label="@string/title_activity_farmer_recruit"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.BlacklistActivity"
            android:label="@string/title_activity_blacklist"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.ListFarmerActivity"
            android:label="@string/title_activity_list_farmer"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.farmer.activity.HomeActivity" />
        </activity>
        <activity android:name=".activity.FarmerDetailsActivity" />
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginActivity">

        </activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".MyReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>